In [2]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

dbconfig={"database":"little_lemon","user":"Ola","password":"azeez"}

try:
    pool=MySQLConnectionPool(pool_name="pool_b",pool_size=2,**dbconfig)
    print("The connection pool is created with a name:",pool.pool_name)
    print("The pool size is:",pool.pool_size)
except Error as er:
    print("Error code:",er.errno)
    print("Error message,",er.msg)

The connection pool is created with a name: pool_b
The pool size is: 2

Task 2

In [20]:
connection = pool.get_connection()

PoolError: Failed getting connection; pool exhausted

In [4]:
print("A user with connection id {} is connected to the database.".format(
    connection1.connection_id))

A user with connection id 97 is connected to the database.

In [6]:
cursor = connection.cursor()

In [7]:
booking1 = """
INSERT INTO Bookings
(TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES(8,'Anees','Java','18:00:00',6);"""

In [8]:
cursor.execute(booking1)

In [9]:
connection.commit()
print("""A new booking is added in the "Bookings" table.""")

A new booking is added in the "Bookings" table.

In [10]:
connection2 = pool.get_connection()
cursor2=connection2.cursor()
booking2 = """
INSERT INTO Bookings
(TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES(5, 'Bald','Vin','19:00:00',6);"""
cursor2.execute(booking2)
connection2.commit()
print("""A new booking is added in the "Bookings" table.""")

A new booking is added in the "Bookings" table.

In [12]:
# Adding a new connection to connect the third user.
try:
    connection3=pool.get_connection()
    print("The guest is connected")
except:
    print("Adding new connection to the pool")
    
    #Create a connection
    connection=connection.connect(user='Ola',password='azeez')
    #Add the connection intot the pool
    pool.add_connection(cnx=connection)
    print("A new connection is added in the pool.\n")
    
    connection3 = pool.get_connection()
    print("connection3 is added to the pool")
    
#connect the third guest 
cursor3=connection3.cursor()
booking3="""
INSERT INTO Bookings
(TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES(12, 'Jay','Kon','19:30:00',6);"""
cursor3.execute(booking3)
connection3.commit()
print("""A new booking is added in the "Booking" table """)

Adding new connection to the pool
A new connection is added in the pool.

connection3 is added to the pool
A new booking is added in the "Booking" table

In [18]:
from mysql.connector import Error
for connection in [connection,connection2,connection3]:
    try:
        connection.close()
        print("Connection is returned to the pool")
    except Error as er:
        print("\nConnection cant be returned to the pool")
        print("Error message:",er.msg)

AttributeError: 'NoneType' object has no attribute 'close'

Task3

In [28]:
create_database_query = """CREATE DATABASE little_lemon"""

In [29]:
use_database_query ="""USE little_lemon"""

In [30]:
cursor.execute(use_database_query)

In [31]:
create_booking_table="""CREATE TABLE Bookings
(BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL, 
BookingSlot TIME NOT NULL,
EmployeeID INT, 
PRIMARY KEY (BookingID));"""

In [40]:
insert_bookings = """
INSERT INTO Bookings (
BookingID, 
TableNo, 
GuestFirstName, 
GuestLastName, 
BookingSlot, 
EmployeeID)
VALUES
(1,12,'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 6),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

In [41]:
create_employee_table="""CREATE TABLE Employees
(EmployeeID INT AUTO_INCREMENT,
EmployeeName VARCHAR(100) NOT NULL,
EmployeeRole VARCHAR(100) NOT NULL, 
PRIMARY KEY (EmployeeID));"""

In [42]:
insert_employees="""
INSERT INTO Employees ( 
EmployeeID,EmployeeName,EmployeeRole)
VALUES
(1,'Mark Sterling',Manager),
(2,'Ana Kendrick',Asst-Manager),
(3,'Mathew Smith','Waiter')
(4,'Smith Role','Server')
(5,'Greg Ich','Security')"""

In [46]:
# The name and EmployeeID of the Little Lemon manager.
get_manager_info_query = """
SELECT EmployeeName, EmployeeID
FROM Employees
WHERE EmployeeRole =Manager' AND EmployeeID =1;
"""

In [47]:
cursor.execute(get_manager_info_query)

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '' AND EmployeeID =1' at line 3

In [ ]:
# The name and EmployeeID of the Little Lemon manager.
get_manager_info_query = """
SELECT EmployeeName, EmployeeID
FROM Employees
WHERE Role = 'Manager' AND RestaurantID = 1;
"""
cursor.execute(get_manager_info_query)
manager_info = cursor.fetchall()
print("Manager Information:")
print(manager_info)

# The name and role of the employee who receives the highest salary.
highest_salary_employee_query = """
SELECT EmployeeName, Role
FROM Employees
ORDER BY Salary DESC
LIMIT 1;
"""
cursor.execute(highest_salary_employee_query)
highest_salary_employee = cursor.fetchall()
print("\nEmployee with the Highest Salary:")
print(highest_salary_employee)

# The number of guests booked between 18:00 and 20:00.
guests_booked_query = """
SELECT COUNT(*) as NumberOfGuests
FROM Bookings
WHERE BookingSlot BETWEEN '18:00:00' AND '20:00:00';
"""
cursor.execute(guests_booked_query)
number_of_guests = cursor.fetchall()
print("\nNumber of Guests Booked between 18:00 and 20:00:")
print(number_of_guests)

# The full name and BookingID of all guests waiting to be seated with the receptionist
# in sorted order with respect to their BookingSlot.
waiting_guests_query = """
SELECT CONCAT(GuestFirstName, ' ', GuestLastName) AS FullName, BookingID
FROM Bookings
WHERE BookingSlot > NOW()
ORDER BY BookingSlot;
"""
cursor.execute(waiting_guests_query)
waiting_guests = cursor.fetchall()
print("\nWaiting Guests Information:")
print(waiting_guests)

In [48]:
# The number of guests booked between 18:00 and 20:00.
guests_booked_query = """
SELECT COUNT(*) as NumberOfGuests
FROM Bookings
WHERE BookingSlot BETWEEN '18:00:00' AND '20:00:00';
"""

In [49]:
cursor.execute(guests_booked_query)

In [50]:
number_of_guests = cursor.fetchall()

In [52]:
print("\nNumber of Guests Booked between 18:00 and 20:00:")
print(number_of_guests)

Number of Guests Booked between 18:00 and 20:00:
[(13,)]

In [53]:
# The full name and BookingID of all guests waiting to be seated with the receptionist
# in sorted order with respect to their BookingSlot.
waiting_guests_query = """
SELECT CONCAT(GuestFirstName, ' ', GuestLastName) AS FullName, BookingID
FROM Bookings
WHERE BookingSlot > NOW()
ORDER BY BookingSlot;
"""

In [54]:
cursor.execute(waiting_guests_query)

In [56]:
waiting_guests = cursor.fetchall()

In [57]:
print("\nWaiting Guests Information:")
print(waiting_guests)

Waiting Guests Information:
[('Diana Pinto', 6)]

In [58]:
stored_procedure_query="""
CREATE PROCEDURE BasicSalesReport()
BEGIN
    DECLARE totalSales DECIMAL(10, 2);
    DECLARE avgSale DECIMAL(10, 2);
    DECLARE minBillPaid DECIMAL(10, 2);
    DECLARE maxBillPaid DECIMAL(10, 2);
    
    SELECT SUM(BillAmount) INTO totalSales FROM Orders;
    SELECT AVG(BillAmount) INTO avgSale FROM Orders;
    SELECT MIN(BillAmount) INTO minBillPaid FROM Orders;
    SELECT MAX(BillAmount) INTO maxBillPaid FROM Orders;
    
    SELECT totalSales AS TotalSales, avgSale AS AverageSale, minBillPaid AS MinBillPaid, maxBillPaid AS MaxBillPaid;
    
    
END
"""

In [59]:
cursor.execute(stored_procedure_query)

In [60]:
cursor.callproc("BasicSalesReport")

()

In [61]:
results=next(cursor.stored_results())

In [62]:
dataset=results.fetchall()

In [64]:
for column_id in cursor.stored_results():
    columns=[column[0] for column in column_id.description]
    print(columns)
for data in dataset:
    print(data)

['TotalSales', 'AverageSale', 'MinBillPaid', 'MaxBillPaid']
(Decimal('329.00'), Decimal('54.83'), Decimal('37.00'), Decimal('86.00'))