In [11]:
import mysql.connector as connector
from mysql.connector import errorcode

In [43]:
try:
    connection = connector.connect(user="Ola",password="azeez",database="little_lemon2")
    print("Connection to database successful")
except connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("connection user or password are incorrect")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("database does not exist")
    else:
        print(err)

database does not exist

In [47]:
cursor=connection.cursor()

In [50]:
create_database_query = """CREATE DATABASE little_lemon2"""

In [51]:
use_database = """USE little_lemon2"""

In [52]:
connection.database

'little_lemon'

In [39]:
create_customer_table="""CREATE TABLE Customers
(CustomerID INT,
OrderID INT,
CustomerName VARCHAR(100),
City VARCHAR(100),
Country VARCHAR(100),
PRIMARY KEY(CustomerID,OrderID))"""

In [40]:
create_booking_table="""CREATE TABLE Sales
(SalesID INT AUTO_INCREMENT,
Sales INT,
Quantity INT NOT NULL,
Discount INT NOT NULL, 
DeliveryCost INT NOT NULL,
PRIMARY KEY (SalesID));"""

In [41]:
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

('Bookings',)
('little_view',)
('MenuItems',)
('Menus',)
('Orders',)

In [58]:
insert_bookings = """
INSERT INTO Bookings (
BookingID, 
TableNo, 
GuestFirstName, 
GuestLastName, 
BookingSlot, 
EmployeeID)
VALUES
(1,12,'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

In [59]:
connection.commit()

In [60]:
read_data_query ="""SELECT * FROM Bookings"""

In [61]:
cursor.execute(read_data_query)

In [62]:
result=cursor.fetchall()

In [68]:
columns = cursor.column_names
print(columns)
print(result)

('OrderID', 'TableNo', 'MenuID', 'BookingID', 'BillAmount', 'Quantity')
[(1, 1, 1, 1, 86, 2), (1, 12, 1, 1, 86, 2), (2, 19, 2, 2, 37, 1), (3, 15, 2, 3, 37, 1), (4, 5, 3, 4, 40, 1), (5, 8, 1, 5, 43, 1)]

In [64]:
read_data_query ="""SELECT * FROM Orders"""

In [65]:
cursor.execute(read_data_query)

In [66]:
result=cursor.fetchall()

In [67]:
print(result)

[(1, 1, 1, 1, 86, 2), (1, 12, 1, 1, 86, 2), (2, 19, 2, 2, 37, 1), (3, 15, 2, 3, 37, 1), (4, 5, 3, 4, 40, 1), (5, 8, 1, 5, 43, 1)]

In [76]:
stored_procedure_query="""
CREATE PROCEDURE GetCustomersAndBillAmount_()
BEGIN
SELECT Bookings.BookingID,
CONCAT(Bookings.GuestFirstname,' ',GuestLastName) AS
CustomerName,
Orders.BillAmount
FROM Bookings
INNER JOIN
ORDERS ON Bookings.BookingID=Orders.BookingID
WHERE BillAmount>=50
ORDER BY BillAmount DESC;
END
"""

In [77]:
cursor.execute(stored_procedure_query)

In [79]:
cursor.callproc("GetCustomersAndBillAmount_")

()

In [80]:
results=next(cursor.stored_results())

In [81]:
dataset=results.fetchall()

In [82]:
for data in dataset:
    print(data)

(1, 'Anna Iversen', 86)
(1, 'Anna Iversen', 86)