In [2]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

dbconfig={"database":"little_lemon","user":"Ola","password":"azeez"}

try:
    pool=MySQLConnectionPool(pool_name="pool_b",pool_size=2,**dbconfig)
    print("The connection pool is created with a name:",pool.pool_name)
    print("The pool size is:",pool.pool_size)
except Error as er:
    print("Error code:",er.errno)
    print("Error message,",er.msg)

The connection pool is created with a name: pool_b
The pool size is: 2

Task 2

In [20]:
connection = pool.get_connection()

PoolError: Failed getting connection; pool exhausted

In [4]:
print("A user with connection id {} is connected to the database.".format(
    connection1.connection_id))

A user with connection id 97 is connected to the database.

In [6]:
cursor = connection.cursor()

In [7]:
booking1 = """
INSERT INTO Bookings
(TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES(8,'Anees','Java','18:00:00',6);"""

In [8]:
cursor.execute(booking1)

In [9]:
connection.commit()
print("""A new booking is added in the "Bookings" table.""")

A new booking is added in the "Bookings" table.

In [10]:
connection2 = pool.get_connection()
cursor2=connection2.cursor()
booking2 = """
INSERT INTO Bookings
(TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES(5, 'Bald','Vin','19:00:00',6);"""
cursor2.execute(booking2)
connection2.commit()
print("""A new booking is added in the "Bookings" table.""")

A new booking is added in the "Bookings" table.

In [12]:
# Adding a new connection to connect the third user.
try:
    connection3=pool.get_connection()
    print("The guest is connected")
except:
    print("Adding new connection to the pool")
    
    #Create a connection
    connection=connection.connect(user='Ola',password='azeez')
    #Add the connection intot the pool
    pool.add_connection(cnx=connection)
    print("A new connection is added in the pool.\n")
    
    connection3 = pool.get_connection()
    print("connection3 is added to the pool")
    
#connect the third guest 
cursor3=connection3.cursor()
booking3="""
INSERT INTO Bookings
(TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES(12, 'Jay','Kon','19:30:00',6);"""
cursor3.execute(booking3)
connection3.commit()
print("""A new booking is added in the "Booking" table """)

Adding new connection to the pool
A new connection is added in the pool.

connection3 is added to the pool
A new booking is added in the "Booking" table

In [18]:
from mysql.connector import Error
for connection in [connection,connection2,connection3]:
    try:
        connection.close()
        print("Connection is returned to the pool")
    except Error as er:
        print("\nConnection cant be returned to the pool")
        print("Error message:",er.msg)

AttributeError: 'NoneType' object has no attribute 'close'